---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

const nombre = "Dmytro Reva";
const rol = "desarrollador junior";
const email = "dmytro.reva@eviden.com";
const telefono = "+34636851972";
---

<Layout title="Dmytro Reva's Astro JS page">
    <main>
        <Header nombre={nombre}/>
        <div class="content">
        <h1>¡Bienvenido a mi sitio web! Soy {nombre}, {rol}.</h1>
        <h2>Aquí encontrarás una combinación única de blog y currículum vitae, donde comparto mis experiencias, proyectos y conocimientos.</h2>
        <p>Soy apasionado por lo que hago y cada día trato de aprender más y me encanta compartir todo lo que he aprendido a lo largo de mi carrera. Espero que encuentres información útil y te animes a explorar más sobre mi trayectoria y trabajos.</p>
        <p>¡Gracias por visitar! Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto conmigo a través de mi página de contacto. ¡Disfruta navegando por mi sitio!</p>
        </div>
        <Footer nombre={nombre}, email={email}, telefono={telefono}>
    </main>
</Layout>

<style>
    .content {
        color: white;
        font-size: 20px;
        line-height: 1.5;
        padding-left: 2%;
        padding-right: 2%;
        text-align: justify;
    }

    h1
    {
        text-align: center;
    }
</style>